body {
    background-color: #f8f9fa;
}

h1 {
    color: #343a40;
}

form {
    background: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.alert {
    margin-top: 20px;
}
